body {
  font-family: "Montserrat", sans-serif;
}

.card:hover {
  cursor: pointer;
}

.navbar {
  font-family: "Montserrat", sans-serif;
}
.navbar #logo {
  width: 155px;
  height: auto;
  margin-left: 2rem;
}
.navbar .navbar-nav {
  margin-left: 17rem;
  margin-top: 1rem;
}
.navbar .navbar-collapse {
  text-transform: uppercase;
  font-weight: 800;
}
.navbar .nav-link:hover {
  transition: border 0.3s ease-in-out 0.1s;
  border-bottom: 2.5px solid #FF0000;
}
.navbar .active {
  transition: border 0.3s ease-in-out 1s;
  border-bottom: 2.5px solid #FF0000;
}
.navbar .dropdown-menu {
  text-transform: none;
}
.navbar #nav-icons {
  margin-left: 12rem;
  margin-right: 0;
  margin-top: 1rem;
  font-size: 1.2rem;
}
.navbar .notification {
  position: relative;
}
.navbar .notification:hover {
  cursor: pointer;
}
.navbar .tip {
  position: absolute;
  left: 15px;
  top: -9px;
  height: 18px;
  width: 18px;
  background: #FF0000;
  font-style: normal;
  font-size: 10px;
  font-weight: 700;
  color: #ffffff;
  line-height: 18px;
  text-align: center;
  border-radius: 50%;
}

#tiles {
  margin-top: 5rem;
}
#tiles .card {
  text-transform: uppercase;
}
#tiles .image-tile {
  height: 11rem;
  object-fit: cover;
}
#tiles .card-footer {
  font-size: 0.9rem;
  font-weight: 800;
}

.featured {
  margin-top: 3rem;
}
.featured .section-title {
  margin-bottom: 2rem;
  color: #111111;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}
.featured .section-title:after {
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 2px;
  width: 70px;
  background: #FF0000;
  content: "";
}
.featured .see-all {
  display: inline-block;
  float: right;
  background: #FF0000;
  color: white;
}
.featured .card {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
}
.featured .card:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}
.featured .card-body {
  padding: 0.5rem;
}
.featured .card-title {
  font-size: 0.75rem;
  font-weight: bold;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.featured .card-text {
  font-size: 0.75rem;
  font-weight: bold;
}
.featured span {
  margin-left: 0.2rem;
  font-size: 0.7rem;
  font-weight: normal;
  text-decoration: line-through #FF0000;
}
.featured .card-img-top {
  height: 14rem;
  object-fit: cover;
  object-position: center center;
}
.featured .action {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
}

#why {
  margin-top: 3rem;
  background: #f4f4f4;
}
#why .why-title {
  margin-bottom: -2rem;
  color: #111111;
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: initial;
  display: inline-block;
}
#why .row {
  font-weight: 600;
}
#why i {
  font-size: 5rem;
}

@media (max-width: 1345px) {
  .navbar #logo {
    width: 130px;
    height: auto;
    margin-left: 1rem;
  }
  .navbar .navbar-nav {
    margin-left: 12rem;
    margin-top: 1rem;
  }
  .navbar #nav-icons {
    margin-left: 8rem;
    margin-right: -2rem;
    margin-top: 1rem;
    font-size: 1.2rem;
  }
  .navbar #search-nav {
    font-size: 0.8rem;
  }
}
@media (max-width: 1150px) {
  body {
    font-size: 0.85rem;
  }

  .navbar #logo {
    width: 130px;
    height: auto;
    margin-left: 1rem;
  }
  .navbar .navbar-nav {
    margin-left: 10rem;
    margin-top: 1rem;
  }
  .navbar #nav-icons {
    margin-left: 4rem;
    margin-right: -2rem;
    margin-top: 1rem;
    font-size: 1.2rem;
  }
  .navbar #search-nav {
    font-size: 0.6rem;
  }

  .featured .card-title {
    font-size: 0.7rem;
  }
  .featured .card-text {
    font-size: 0.7rem;
  }
  .featured .card-img-top {
    height: 10rem;
  }
  .featured span {
    font-size: 0.6rem;
  }
}
@media (max-width: 991.98px) {
  body {
    font-size: 0.85rem;
  }

  .navbar #logo {
    width: 125px;
    height: auto;
    margin-left: 2rem;
  }
  .navbar .navbar-nav {
    text-transform: initial;
    margin-left: 0;
    margin-top: 0;
  }
  .navbar .nav-link:hover {
    border-bottom: none;
  }
  .navbar .active {
    border-bottom: none;
  }
  .navbar #nav-icons {
    margin-left: 0;
    margin-right: 0;
    margin-top: 1rem;
    font-size: 1.2rem;
  }
  .navbar #search-nav {
    font-size: 0.8rem;
  }

  .featured .card {
    margin-bottom: 2rem;
  }
  .featured .card-title {
    font-size: 0.7rem;
  }
  .featured .card-text {
    font-size: 0.7rem;
  }
  .featured .card-img-top {
    height: 12rem;
  }
  .featured span {
    font-size: 0.6rem;
  }
}
@media (max-width: 767.98px) {
  body {
    font-size: 0.85rem;
  }

  .navbar #logo {
    width: 125px;
    height: auto;
    margin-left: 2rem;
  }
  .navbar .navbar-nav {
    text-transform: initial;
    margin-left: 0;
    margin-top: 0;
  }
  .navbar .nav-link:hover {
    border-bottom: none;
  }
  .navbar .active {
    border-bottom: none;
  }
  .navbar #nav-icons {
    margin-left: 0;
    margin-right: 0;
    margin-top: 1rem;
    font-size: 1.2rem;
  }
  .navbar #search-nav {
    font-size: 0.8rem;
  }

  #tiles .card-footer {
    text-transform: initial;
  }

  #why {
    margin-top: 1rem;
  }
  #why .why-title {
    margin-bottom: -1rem;
    font-size: 0.7rem;
    font-weight: 600;
  }
  #why .row {
    font-weight: 600;
  }
  #why i {
    font-size: 2.5rem;
  }
  #why p {
    font-size: 0.65rem;
  }

  .featured .card-img-top {
    height: 6rem;
  }
}
@media (max-width: 575.98px) {
  body {
    font-size: 0.7rem;
  }

  .navbar .dropdown-menu {
    font-size: 0.7rem;
  }
  .navbar #search-nav {
    font-size: 0.7rem;
  }

  #tiles {
    margin-top: 4rem;
  }
  #tiles .image-tile {
    height: 5rem;
  }
  #tiles .card-footer {
    font-size: 0.5rem;
    font-weight: 800;
    text-transform: initial;
  }

  .featured .section-title {
    margin-bottom: 1rem;
    Font-size: 0.9rem;
    text-transform: initial;
  }
  .featured .section-title:after {
    height: 2px;
    width: 50px;
  }
  .featured .see-all {
    font-size: 0.4rem;
    text-transform: initial;
  }
  .featured .card {
    margin-bottom: 1rem;
  }
  .featured .card-title {
    font-size: 0.4rem;
    margin-bottom: 0.2rem;
  }
  .featured .card-text {
    font-size: 0.4rem;
  }
  .featured span {
    font-size: 0.3rem;
  }
  .featured .action {
    margin-top: 0.2rem;
    font-size: 0.6rem;
  }
}

/*# sourceMappingURL=custom.css.map */
