html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}
body .to-top {
  background: #171717;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: white;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}
body .to-top.active {
  bottom: 37px;
  pointer-events: auto;
  opacity: 1;
}

.card:hover {
  cursor: pointer;
}

#extraNav {
  background: #f4f4f4;
  display: flex;
  justify-content: space-around;
  font-size: 0.8rem;
  padding: 0.3rem 0;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}
.navbar #logo {
  width: 155px;
  height: auto;
  margin-left: 2rem;
}
.navbar .navbar-collapse {
  text-transform: uppercase;
  font-weight: 800;
}
.navbar .active {
  transition: border 0.3s ease-in-out 1s;
  border-bottom: 2.5px solid #FF0000;
}
.navbar .dropdown-menu {
  text-transform: none;
}
.navbar #nav-icons {
  margin-top: 1rem;
  font-size: 1.2rem;
}
.navbar #search-nav {
  font-size: 0.8rem;
}
.navbar .notification {
  position: relative;
}
.navbar .notification:hover {
  cursor: pointer;
}
.navbar .tip {
  position: absolute;
  left: 15px;
  top: -9px;
  height: 18px;
  width: 18px;
  background: #FF0000;
  font-style: normal;
  font-size: 10px;
  font-weight: 700;
  color: #ffffff;
  line-height: 18px;
  text-align: center;
  border-radius: 50%;
}

#favs .modal-title {
  font-weight: 800;
}
#favs .prod-title {
  font-weight: 600;
}
#favs .modal-body {
  padding-bottom: 0;
}
#favs .img-thumbnail {
  height: 10rem;
  width: 10rem;
  object-fit: cover;
  object-position: center center;
}
#favs .form-select:hover {
  cursor: pointer;
}
#favs .remove:hover {
  cursor: pointer;
}
#favs .price {
  font-weight: 600;
}
#favs span {
  font-size: 0.75rem;
  font-weight: normal;
}
#favs .modal-footer {
  border-top: 0;
  padding-top: 0;
}

#cart .modal-title {
  font-weight: 800;
}
#cart .prod-title {
  font-weight: 600;
}
#cart .modal-body {
  padding-bottom: 0;
}
#cart .img-thumbnail {
  height: 10rem;
  width: 10rem;
  object-fit: cover;
  object-position: center center;
}
#cart .form-select:hover {
  cursor: pointer;
}
#cart .remove:hover {
  cursor: pointer;
}
#cart .price {
  font-weight: 600;
}
#cart span {
  font-size: 0.75rem;
  font-weight: normal;
}
#cart .modal-footer {
  border-top: 0;
  padding-top: 0;
}
#cart .total {
  font-weight: 800;
  font-size: 1.7rem;
}

#why {
  margin-top: 3rem;
  background: #f4f4f4;
}
#why .why-title {
  color: #111111;
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
}
#why h5 {
  display: inline;
}
#why i {
  font-size: 1rem;
}
#why p {
  margin: 0.5rem 0;
  text-align: center;
  font-size: 0.8rem;
}
#why span {
  display: block;
  font-size: 0.6rem;
}

#tiles {
  margin-top: 1rem;
}
#tiles .card {
  text-transform: uppercase;
}
#tiles .image-tile {
  height: 11rem;
  object-fit: cover;
  object-position: center center;
}
#tiles .card-footer {
  font-size: 0.9rem;
  font-weight: 800;
}

.featured {
  margin-top: 3rem;
}
.featured .section-title {
  margin-bottom: 2rem;
  color: #111111;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}
.featured .section-title:after {
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 2px;
  width: 70px;
  background: #FF0000;
  content: "";
}
.featured .see-all {
  display: inline-block;
  float: right;
  background: #FF0000;
  color: white;
}
.featured .card {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
}
.featured .card:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}
.featured .card-body {
  padding: 0.5rem;
}
.featured .card-title {
  font-size: 0.75rem;
  font-weight: bold;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.featured .card-text {
  font-size: 0.75rem;
  font-weight: bold;
}
.featured span {
  margin-left: 0.2rem;
  font-size: 0.7rem;
  font-weight: normal;
  text-decoration: line-through #FF0000;
}
.featured .card-img-top {
  height: 14rem;
  object-fit: cover;
  object-position: center center;
}
.featured .action {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
}

#product-view .modal-title {
  font-weight: 800;
}
#product-view #prod-main-img {
  width: 100%;
  height: 37rem;
  object-fit: cover;
  object-position: center center;
}
#product-view .small-img-row {
  display: flex;
}
#product-view .small-img-col {
  flex-basis: 3.5rem;
}
#product-view .prod-small-img {
  margin-top: 0.8rem;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  object-position: center center;
}
#product-view .prod-small-img:hover {
  cursor: pointer;
}
#product-view #prod-price {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}
#product-view #prod-price span {
  font-size: 0.9rem;
  font-weight: normal;
}
#product-view .count {
  display: flex;
  justify-content: space-between;
}
#product-view .count .form-control {
  width: 7.3rem;
  font-size: 0.8rem;
}
#product-view .count .count-sub {
  font-size: 1.2rem;
  font-weight: 600;
}
#product-view .count span {
  font-size: 0.8rem;
  font-weight: normal;
}
#product-view .prod-start {
  width: 10rem;
}
#product-view #share .fab {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 2.5rem;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
#product-view #share .fab:hover {
  opacity: 0.7;
  cursor: pointer;
}
#product-view #share .fa-facebook-f {
  background: #3B5998;
  color: white;
}
#product-view #share .fa-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  color: white;
}
#product-view #share .fa-whatsapp {
  background: #25D366;
  color: white;
}
#product-view #share .fa-twitter {
  background: #00acee;
  color: white;
}
#product-view .scroll {
  font-size: 0.85rem;
}
#product-view .description {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 1rem;
}

#footer .footer1 {
  background: #f4f4f4;
}
#footer .footer1 .info-heading {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.2rem;
  margin-left: 2rem;
}
#footer .footer1 .info-list {
  text-align: left;
}
#footer .footer1 li {
  list-style-type: none;
}
#footer .footer1 li a {
  text-decoration: none;
  color: #171717;
}
#footer .footer1 #reach {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.2rem;
}
#footer .footer1 .text-center a {
  text-decoration: none;
  color: inherit;
}
#footer .footer1 .fab {
  padding: 1rem;
  font-size: 2rem;
  width: 4rem;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
#footer .footer1 .fab:hover {
  opacity: 0.7;
  cursor: pointer;
}
#footer .footer1 .fa-facebook-f {
  background: #3B5998;
  color: white;
}
#footer .footer1 .fa-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  color: white;
}
#footer .footer1 .fa-whatsapp {
  background: #25D366;
  color: white;
}
#footer .footer1 .reg {
  font-weight: 700;
  width: 10rem;
  margin-top: 2rem;
}
#footer .footer2 {
  background: #171717;
  color: white;
  font-size: 0.8rem;
}

#checkout-body {
  background: #f4f4f4;
  display: flex;
}
#checkout-body #checkout-main {
  flex-basis: 70vw;
  margin-top: 2rem;
}
#checkout-body #checkout-main .card {
  margin-bottom: 2rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
}
#checkout-body #checkout-main .card:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}
#checkout-body #checkout-main .card:hover {
  cursor: default;
}
#checkout-body #checkout-main .card-header {
  background: white;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
}
#checkout-body #checkout-main label[required]:after {
  content: " *";
}
#checkout-body #checkout-main input[placeholder], #checkout-body #checkout-main textarea[placeholder], #checkout-body #checkout-main select, #checkout-body #checkout-main option, #checkout-body #checkout-main .form-check-label {
  font-size: 0.8rem;
}
#checkout-body #checkout-main .optional {
  font-size: 0.7rem;
}
#checkout-body #checkout-main #add-num {
  text-align: right;
}
#checkout-body #checkout-main #add-num:hover {
  cursor: pointer;
}
#checkout-body #checkout-main .final-text {
  text-transform: uppercase;
  font-weight: bolder;
}
#checkout-body #checkout-main .final-price {
  font-weight: bolder;
  font-size: 1.2rem;
}
#checkout-body #checkout-main span {
  text-transform: lowercase;
  font-weight: normal;
}
#checkout-body #checkout-main #placeOrder {
  margin-top: 1rem;
  width: 30rem;
  font-weight: 700;
}
#checkout-body #checkout-sidebar {
  flex-basis: 30vw;
  margin-top: 2rem;
}
#checkout-body #checkout-sidebar #divForHelp {
  position: sticky;
  top: 6rem;
  z-index: 2;
}
#checkout-body #checkout-sidebar #help-button {
  width: 16rem;
  font-weight: 800;
}
#checkout-body #checkout-sidebar .card {
  position: sticky;
  top: 10rem;
  z-index: 3;
}
#checkout-body #checkout-sidebar .card:hover {
  cursor: default;
}
#checkout-body #checkout-sidebar .card-header {
  background: white;
  font-weight: 800;
  text-align: center;
}
#checkout-body #checkout-sidebar .img-fluid {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  object-position: center center;
}
#checkout-body #checkout-sidebar .cart-details {
  font-size: 0.8rem;
}
#checkout-body #checkout-sidebar .checkoutItemName {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
#checkout-body #checkout-sidebar hr {
  color: rgba(0, 0, 0, 0.5);
}
#checkout-body #checkout-sidebar .btn-sm {
  font-size: 0.75rem;
}

@media (max-width: 1199.98px) {
  body {
    font-size: 0.85rem;
  }

  .navbar #logo {
    width: 130px;
    height: auto;
    margin-left: 1rem;
  }
  .navbar #nav-icons {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
  .navbar #search-nav {
    font-size: 0.6rem;
  }

  #why .why-title {
    font-size: 1.3rem;
  }
  #why h5 {
    display: inline;
    font-size: 0.9rem;
  }
  #why i {
    font-size: 1.1rem;
  }
  #why p {
    margin: 0.5rem 0;
    font-size: 0.7rem;
  }
  #why span {
    font-size: 0.5rem;
  }

  .featured .card-title {
    font-size: 0.7rem;
  }
  .featured .card-text {
    font-size: 0.7rem;
  }
  .featured .card-img-top {
    height: 10rem;
  }
  .featured span {
    font-size: 0.6rem;
  }

  #product-view .modal-title {
    font-size: 1.1rem;
  }
  #product-view #prod-main-img {
    height: 30rem;
  }
  #product-view .small-img-col {
    flex-basis: 3rem;
  }
  #product-view .prod-small-img {
    width: 2.5rem;
    height: 2.5rem;
  }
  #product-view #prod-price {
    font-size: 1.3rem;
    font-weight: 650;
  }
  #product-view #prod-price span {
    font-size: 0.85rem;
  }
  #product-view .count .form-control {
    width: 5rem;
    font-size: 0.6rem;
  }
  #product-view .count .count-sub {
    font-size: 1.1rem;
    font-weight: 600;
  }
  #product-view .count span {
    font-size: 0.6rem;
  }
  #product-view .prod-start {
    width: 6rem;
    font-size: 0.8rem;
  }
  #product-view .checkout {
    font-size: 0.8rem;
  }
  #product-view #share .fab {
    padding: 0.4rem;
    font-size: 1.2rem;
    width: 2rem;
  }
  #product-view .scroll {
    font-size: 0.7rem;
  }
  #product-view .description {
    font-size: 1.1rem;
  }
  #product-view .bullets {
    font-size: 0.8rem;
  }

  #checkout-body #checkout-main {
    flex-basis: 70vw;
    margin-top: 2rem;
  }
  #checkout-body #checkout-main .card-header {
    font-size: 1.1rem;
  }
  #checkout-body #checkout-main input[placeholder], #checkout-body #checkout-main textarea[placeholder], #checkout-body #checkout-main select, #checkout-body #checkout-main option, #checkout-body #checkout-main .form-check-label {
    font-size: 0.7rem;
  }
  #checkout-body #checkout-main .optional {
    font-size: 0.65rem;
  }
  #checkout-body #checkout-main .final-text {
    font-size: 0.9rem;
  }
  #checkout-body #checkout-main .final-price {
    font-size: 1rem;
  }
  #checkout-body #checkout-main span {
    text-transform: lowercase;
    font-weight: normal;
  }
  #checkout-body #checkout-main #placeOrder {
    font-size: 0.9rem;
    width: 20rem;
    font-weight: 700;
  }
  #checkout-body #checkout-sidebar {
    flex-basis: 30vw;
    margin-top: 2rem;
  }
  #checkout-body #checkout-sidebar #help-button {
    width: 14rem;
  }
  #checkout-body #checkout-sidebar .img-fluid {
    width: 3.5rem;
    height: 3.5rem;
  }
  #checkout-body #checkout-sidebar .cart-details {
    font-size: 0.7rem;
  }
  #checkout-body #checkout-sidebar hr {
    color: rgba(0, 0, 0, 0.5);
  }
  #checkout-body #checkout-sidebar .btn-sm {
    font-size: 0.65rem;
  }
}
@media (max-width: 991.98px) {
  body {
    font-size: 0.85rem;
  }

  .navbar #logo {
    width: 125px;
    height: auto;
    margin-left: 2rem;
  }
  .navbar .navbar-nav {
    text-transform: initial;
    margin-left: 0;
    margin-top: 0;
  }
  .navbar .nav-link:hover {
    border-bottom: none;
  }
  .navbar .active {
    border-bottom: none;
  }
  .navbar #nav-icons {
    margin-left: 0;
    margin-right: 0;
    margin-top: 1rem;
    font-size: 1.2rem;
  }
  .navbar #search-nav {
    font-size: 0.8rem;
  }

  #favs .prod-title {
    font-size: 0.8rem;
  }
  #favs .img-thumbnail {
    height: 7rem;
    width: 7rem;
  }
  #favs .price {
    font-weight: 600;
  }
  #favs span {
    font-size: 0.6rem;
  }
  #favs .form-select {
    font-size: 0.7rem;
  }
  #favs .remove {
    font-size: 0.7rem;
  }
  #favs .favs-footer {
    font-size: 0.8rem;
  }

  #cart .prod-title {
    font-size: 0.8rem;
  }
  #cart .img-thumbnail {
    height: 7rem;
    width: 7rem;
  }
  #cart .price {
    font-weight: 600;
  }
  #cart span {
    font-size: 0.6rem;
  }
  #cart .form-select {
    font-size: 0.7rem;
  }
  #cart .remove {
    font-size: 0.7rem;
  }
  #cart .total {
    font-size: 1.2rem;
  }
  #cart #checkout {
    font-size: 0.9rem;
  }

  #why p {
    margin-top: 0.5rem;
    font-size: 0.6rem;
  }
  #why span {
    font-size: 0.4rem;
  }

  .featured .card {
    margin-bottom: 2rem;
  }
  .featured .card-title {
    font-size: 0.7rem;
  }
  .featured .card-text {
    font-size: 0.7rem;
  }
  .featured .card-img-top {
    height: 14rem;
  }
  .featured span {
    font-size: 0.6rem;
  }

  #product-view .modal-title {
    font-size: 0.85rem;
  }
  #product-view #prod-main-img {
    height: 17.5rem;
  }
  #product-view .small-img-col {
    flex-basis: 2.5rem;
  }
  #product-view .prod-small-img {
    width: 2rem;
    height: 2rem;
  }
  #product-view #prod-price {
    font-size: 0.85rem;
    font-weight: 650;
  }
  #product-view #prod-price span {
    font-size: 0.65rem;
  }
  #product-view .count .form-control {
    width: 4.5rem;
    font-size: 0.5rem;
  }
  #product-view .count .count-sub {
    font-size: 0.8rem;
    padding-top: 0.2rem;
  }
  #product-view .count span {
    font-size: 0.4rem;
  }
  #product-view .prod-start {
    width: 4.5rem;
    font-size: 0.5rem;
  }
  #product-view .checkout {
    font-size: 0.5rem;
  }
  #product-view #share .fab {
    padding: 0.3rem;
    font-size: 1rem;
    width: 1.6rem;
  }
  #product-view .scroll {
    font-size: 0.6rem;
  }
  #product-view .description {
    font-size: 0.9rem;
  }
  #product-view .bullets {
    font-size: 0.6rem;
  }

  #footer .footer1 .info-heading {
    font-size: 1rem;
  }
  #footer .footer1 .info-list {
    font-size: 0.8rem;
  }
  #footer .footer1 #reach {
    font-size: 1rem;
  }
  #footer .footer1 .phone {
    font-size: 0.7rem;
  }
  #footer .footer1 .fab {
    padding: 0.6rem;
    font-size: 1.5rem;
    width: 3rem;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  #footer .footer1 .reg {
    width: 6rem;
    margin-top: 1.5rem;
  }
  #footer .footer2 {
    font-size: 0.65rem;
  }

  #checkout-body #checkout-main {
    flex-basis: 65vw;
    margin-top: 2rem;
  }
  #checkout-body #checkout-main .card-header {
    font-size: 0.9rem;
  }
  #checkout-body #checkout-main label {
    font-size: 0.7rem;
  }
  #checkout-body #checkout-main input[placeholder], #checkout-body #checkout-main textarea[placeholder], #checkout-body #checkout-main select, #checkout-body #checkout-main option, #checkout-body #checkout-main .form-check-label {
    font-size: 0.6rem;
  }
  #checkout-body #checkout-main .optional {
    font-size: 0.55rem;
  }
  #checkout-body #checkout-main #add-num {
    font-size: 0.6rem;
  }
  #checkout-body #checkout-main .final-text {
    font-size: 0.75rem;
    font-weight: bold;
  }
  #checkout-body #checkout-main .final-price {
    font-size: 0.85rem;
    font-weight: bold;
  }
  #checkout-body #checkout-main span {
    font-size: 0.6rem;
  }
  #checkout-body #checkout-main #placeOrder {
    font-size: 0.8rem;
    width: 15rem;
    font-weight: 700;
  }
  #checkout-body #checkout-sidebar {
    flex-basis: 35vw;
    margin-top: 2rem;
  }
  #checkout-body #checkout-sidebar #divForHelp {
    top: 5rem;
  }
  #checkout-body #checkout-sidebar #help-button {
    width: 10rem;
    font-size: 0.8rem;
  }
  #checkout-body #checkout-sidebar .card {
    top: 8.5rem;
  }
  #checkout-body #checkout-sidebar .img-fluid {
    width: 3rem;
    height: 3rem;
  }
  #checkout-body #checkout-sidebar .cart-details {
    font-size: 0.6rem;
  }
  #checkout-body #checkout-sidebar .btn-sm {
    font-size: 0.65rem;
  }
}
@media (max-width: 767.98px) {
  body {
    font-size: 0.75rem;
  }
  body .to-top {
    bottom: 16px;
    right: 13px;
    width: 37px;
    height: 37px;
    font-size: 29px;
  }
  body .to-top.active {
    bottom: 30px;
  }

  #extraNav {
    font-size: 0.5rem;
  }

  #favs .modal-title {
    font-size: 0.7rem;
  }
  #favs .prod-title {
    font-size: 0.5rem;
  }
  #favs .img-thumbnail {
    height: 5rem;
    width: 5rem;
  }
  #favs .price {
    font-size: 0.6rem;
    font-weight: 600;
  }
  #favs span {
    font-size: 0.45rem;
  }
  #favs .remove {
    font-size: 0.5rem;
  }
  #favs .favs-footer {
    font-size: 0.6rem;
  }

  #cart .modal-title {
    font-size: 0.7rem;
  }
  #cart .prod-title {
    font-size: 0.5rem;
  }
  #cart .img-thumbnail {
    height: 5rem;
    width: 5rem;
  }
  #cart .price {
    font-size: 0.6rem;
    font-weight: 600;
  }
  #cart span {
    font-size: 0.45rem;
  }
  #cart .form-select {
    font-size: 0.5rem;
  }
  #cart .remove {
    font-size: 0.5rem;
  }
  #cart .total {
    font-size: 0.9rem;
  }
  #cart #checkout {
    font-size: 0.6rem;
  }

  #tiles {
    margin-top: 1rem;
  }
  #tiles .card-footer {
    text-transform: initial;
  }

  #why {
    margin-top: 1rem;
  }
  #why .why-title {
    font-size: 0.9rem;
  }
  #why h5 {
    font-size: 0.7rem;
  }
  #why i {
    font-size: 0.7rem;
  }
  #why p {
    margin: 0.2rem 0;
    font-size: 0.45rem;
  }
  #why span {
    font-size: 0.3rem;
  }

  .featured .card-img-top {
    height: 7rem;
  }

  #product-view .modal-title {
    font-size: 0.7rem;
  }
  #product-view #prod-main-img {
    height: 20rem;
  }
  #product-view .small-img-col {
    flex-basis: 3.5rem;
  }
  #product-view .prod-small-img {
    width: 3rem;
    height: 3rem;
  }
  #product-view #prod-price {
    margin-top: 1rem;
    font-size: 0.85rem;
    font-weight: 650;
  }
  #product-view #prod-price span {
    font-size: 0.65rem;
  }
  #product-view .count {
    justify-content: space-evenly;
  }
  #product-view .count .form-control {
    width: 5rem;
    font-size: 0.55rem;
  }
  #product-view .count .count-sub {
    font-size: 0.85rem;
  }
  #product-view .count span {
    font-size: 0.45rem;
  }
  #product-view .prod-start {
    width: 5rem;
    font-size: 0.55rem;
  }
  #product-view .checkout {
    font-size: 0.55rem;
  }
  #product-view #share {
    margin-top: 1rem;
  }
  #product-view #share .fab {
    padding: 0.3rem;
    font-size: 1rem;
    width: 1.6rem;
  }
  #product-view .scroll {
    font-size: 0.6rem;
  }
  #product-view .description {
    font-size: 0.9rem;
  }
  #product-view .bullets {
    font-size: 0.6rem;
  }

  #footer .footer1 .info-heading {
    font-size: 0.8rem;
    margin-left: 0;
    text-align: center;
  }
  #footer .footer1 .info-list {
    font-size: 0.6rem;
  }
  #footer .footer1 li {
    display: inline-block;
    width: 49%;
  }
  #footer .footer1 p {
    margin-bottom: 0.3rem;
  }
  #footer .footer1 #reach {
    font-size: 0.8rem;
  }
  #footer .footer1 .phone {
    font-size: 0.7rem;
  }
  #footer .footer1 .fab {
    padding: 0.6rem;
    font-size: 1.5rem;
    width: 3rem;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  #footer .footer1 .reg {
    width: 6rem;
    margin-top: 0.3rem;
    font-size: 0.8rem;
  }
  #footer .footer2 {
    font-size: 0.45rem;
  }

  #checkout-body {
    background: #f4f4f4;
    display: flex;
    flex-wrap: wrap-reverse;
  }
  #checkout-body #checkout-main {
    flex-basis: 100vw;
  }
  #checkout-body #checkout-main .card {
    margin-bottom: 1.5rem;
  }
  #checkout-body #checkout-main input[placeholder], #checkout-body #checkout-main textarea[placeholder], #checkout-body #checkout-main select, #checkout-body #checkout-main option, #checkout-body #checkout-main .form-check-label {
    font-size: 0.65rem;
  }
  #checkout-body #checkout-main .optional {
    font-size: 0.5rem;
  }
  #checkout-body #checkout-main #add-num {
    font-size: 0.55rem;
  }
  #checkout-body #checkout-main .final-text {
    font-weight: bold;
  }
  #checkout-body #checkout-main .final-price {
    font-weight: bold;
    font-size: 1rem;
  }
  #checkout-body #checkout-main span {
    text-transform: lowercase;
    font-weight: normal;
  }
  #checkout-body #checkout-main #placeOrder {
    margin-top: 1rem;
    font-weight: 700;
  }
  #checkout-body #checkout-sidebar {
    flex-basis: 100vw;
    margin-top: 1rem;
  }
  #checkout-body #checkout-sidebar #divForHelp {
    position: static;
  }
  #checkout-body #checkout-sidebar #help-button {
    width: 8rem;
    font-weight: 700;
  }
  #checkout-body #checkout-sidebar .card {
    position: static;
  }
  #checkout-body #checkout-sidebar .img-fluid {
    width: 5rem;
    height: 4rem;
  }
  #checkout-body #checkout-sidebar .cart-details {
    font-size: 0.8rem;
  }
  #checkout-body #checkout-sidebar .checkoutItemName {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  #checkout-body #checkout-sidebar hr {
    color: rgba(0, 0, 0, 0.5);
  }
  #checkout-body #checkout-sidebar .btn-sm {
    font-size: 0.75rem;
  }
}
@media (max-width: 575.98px) {
  body {
    font-size: 0.7rem;
  }

  .navbar .dropdown-menu {
    font-size: 0.7rem;
  }
  .navbar #search-nav {
    font-size: 0.7rem;
  }

  #tiles .image-tile {
    height: 5rem;
  }
  #tiles .card-footer {
    font-size: 0.5rem;
    font-weight: 800;
    text-transform: initial;
  }

  .featured .section-title {
    margin-bottom: 1rem;
    Font-size: 0.9rem;
    text-transform: initial;
  }
  .featured .section-title:after {
    height: 2px;
    width: 50px;
  }
  .featured .see-all {
    font-size: 0.4rem;
    text-transform: initial;
  }
  .featured .card {
    margin-bottom: 1rem;
  }
  .featured .card-title {
    font-size: 0.4rem;
    margin-bottom: 0.2rem;
  }
  .featured .card-text {
    font-size: 0.4rem;
  }
  .featured span {
    font-size: 0.3rem;
  }
  .featured .action {
    margin-top: 0.2rem;
    font-size: 0.6rem;
  }

  #checkout-body #checkout-main {
    margin-top: 1.5rem;
  }
  #checkout-body #checkout-main .card {
    margin-bottom: 1.5rem;
  }
  #checkout-body #checkout-main .card-header {
    font-size: 0.9rem;
    font-weight: 700;
  }
  #checkout-body #checkout-main input[placeholder], #checkout-body #checkout-main textarea[placeholder], #checkout-body #checkout-main select, #checkout-body #checkout-main option, #checkout-body #checkout-main .form-check-label {
    font-size: 0.6rem;
  }
  #checkout-body #checkout-main .optional {
    font-size: 0.5rem;
  }
  #checkout-body #checkout-main #add-num {
    font-size: 0.55rem;
  }
  #checkout-body #checkout-main .final-text {
    font-weight: bold;
  }
  #checkout-body #checkout-main .final-price {
    font-weight: bold;
    font-size: 0.9rem;
  }
  #checkout-body #checkout-main span {
    font-size: 0.4rem;
  }
  #checkout-body #checkout-main #placeOrder {
    margin-top: 1rem;
    font-weight: 700;
  }
  #checkout-body #checkout-sidebar {
    flex-basis: 100vw;
  }
  #checkout-body #checkout-sidebar #divForHelp {
    position: static;
  }
  #checkout-body #checkout-sidebar #help-button {
    width: 6rem;
    font-size: 0.5rem;
  }
  #checkout-body #checkout-sidebar .img-fluid {
    width: 3rem;
    height: 3rem;
  }
  #checkout-body #checkout-sidebar .cart-details {
    font-size: 0.6rem;
  }
  #checkout-body #checkout-sidebar .btn-sm {
    font-size: 0.5rem;
  }
}

/*# sourceMappingURL=custom.css.map */
