@import "variables";
@import "mixins";

body {
  font-family: 'Montserrat', sans-serif;
}


.card {
  @include pointer;
}


.navbar {
  font-family: 'Montserrat', sans-serif;

  #logo {
    width: 155px;
    height: auto;
    margin-left: 2rem;
  }

  .navbar-nav {
    margin-left: 17rem;
    margin-top: 1rem;
  }

  .navbar-collapse {
    text-transform: uppercase;
    font-weight: 800;
  }

  .nav-link:hover {
    transition: border 0.3s ease-in-out 0.1s;
    border-bottom: 2.5px solid $red;
  }

  .active {
    transition: border 0.3s ease-in-out 1s;
    border-bottom: 2.5px solid $red;
  }

  .dropdown-menu {
    text-transform: none;
  }

  #nav-icons {
    margin-left: 12rem;
    margin-right: 0;
    margin-top: 1rem;
    font-size: 1.2rem;
  }

  .notification {
    position: relative;
  }

  .notification {
    @include pointer
  }


  .tip {
    position: absolute;
    left: 15px;
    top: -9px;
    height: 18px;
    width: 18px;
    background: $red;
    font-style: normal;
    font-size: 10px;
    font-weight: 700;
    color: #ffffff;
    line-height: 18px;
    text-align: center;
    border-radius: 50%;
  }
}


#favs{
  .modal-title{
    font-weight: 800;
  }

  .prod-title{
    font-weight: 600;
  }

  .modal-body{
    padding-bottom: 0;
  }

  .img-thumbnail{
    height: 10rem;
    width: 10rem;
    @include resizeImage;
  }

  .form-select{
    @include pointer;
  }

  .remove{
    @include pointer;
  }
  .price{
    font-weight: 600;
  }

  span{
    font-size: 0.75rem;
    font-weight: normal;
  }

  .modal-footer{
    border-top: 0;
    padding-top: 0;
  }

}


#cart{
  .modal-title{
    font-weight: 800;
  }

  .prod-title{
    font-weight: 600;
  }

  .modal-body{
    padding-bottom: 0;
  }

  .img-thumbnail{
    height: 10rem;
    width: 10rem;
    @include resizeImage;
  }

  .form-select{
    @include pointer;
  }

  .remove{
    @include pointer;
  }
  .price{
    font-weight: 600;
  }

  span{
    font-size: 0.75rem;
    font-weight: normal;
  }

  .modal-footer{
    border-top: 0;
    padding-top: 0;
  }

  .total{
    font-weight: 800;
    font-size: 1.7rem;
  }
}


#tiles {
  margin-top: 5rem;

  .card {
    text-transform: uppercase;
  }

  .image-tile {
    height: 11rem;
    @include resizeImage
  }

  .card-footer {
    font-size: 0.9rem;
    font-weight: 800;
  }

}


.featured {
  margin-top: 3rem;

  .section-title {
    margin-bottom: 2rem;
    color: #111111;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
  }

  .section-title:after {
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 2px;
    width: 70px;
    background: $red;
    content: "";
  }

  .see-all {
    display: inline-block;
    float: right;
    background: $red;
    color: white;
  }

  .card{
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
  }

  .card:hover{
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
  }

  .card-body {
    padding: 0.5rem;
  }

  .card-title {
    font-size: 0.75rem;
    font-weight: bold;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }


  .card-text {
    font-size: 0.75rem;
    font-weight: bold;
  }

  span {
    margin-left: 0.2rem;
    font-size: 0.7rem;
    font-weight: normal;
    text-decoration: line-through $red;
  }

  .card-img-top{
    height: 14rem;
   @include resizeImage
  }

  .action {
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
  }
}


#why{
  margin-top: 3rem;
  background: $grey;

  .why-title {
    margin-bottom: -2rem;
    color: #111111;
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: initial;
    display: inline-block;
  }
  .row{
    font-weight: 600;
  }

  i{
    font-size: 5rem;
  }

}


@import "media-queries";

