// font-family: 'Montserrat', sans-serif;
// font-family: 'Barlow Condensed', sans-serif;

$yellow: #ffe227;
$red: #FF0000;

body {
  font-family: 'Montserrat', sans-serif;
}

.card:hover{
  cursor: pointer;
}


.navbar {
  font-family: 'Montserrat', sans-serif;

  #logo {
    width: 155px;
    height: auto;
    margin-left: 2rem;
  }

  .navbar-nav {
    margin-left: 17rem;
    margin-top: 1rem;
  }

  .navbar-collapse {
    text-transform: uppercase;
    font-weight: 800;
  }

  .nav-link:hover {
    transition: border 0.3s ease-in-out 0.1s;
    border-bottom: 2.5px solid $red;
  }

  .active {
    transition: border 0.3s ease-in-out 1s;
    border-bottom: 2.5px solid $red;
  }

  .dropdown-menu {
    text-transform: none;
  }

  #nav-icons {
    margin-left: 12rem;
    margin-right: 0;
    margin-top: 1rem;
    font-size: 1.2rem;
  }

  .notification {
    position: relative;
  }

  .notification:hover {
    cursor: pointer;
  }


  .tip {
    position: absolute;
    left: 15px;
    top: -9px;
    height: 18px;
    width: 18px;
    background: $red;
    font-style: normal;
    font-size: 10px;
    font-weight: 700;
    color: #ffffff;
    line-height: 18px;
    text-align: center;
    border-radius: 50%;
  }
}


#tiles {
  margin-top: 5rem;

  .card{
    text-transform: uppercase;
  }

  .image-tile{
    height: 11rem;
    object-fit: cover;
  }

  .card-footer{
    font-size: 0.9rem;
    font-weight: 800;
  }

}


.featured{
  margin-top: 3rem;

  .section-title{
    margin-bottom: 2rem;
    color: #111111;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
  }

  .section-title:after {
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 2px;
    width: 70px;
    background: $red;
    content: "";
  }

  .see-all{
    display: inline-block;
    float: right;
    background: $red;
    color: white;
  }

  .card-body{
    padding: 0.5rem;
  }

  .card-title{
    font-size: 0.75rem;
    font-weight: bold;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }


  .card-text{
    font-size: 0.8rem;
    font-weight: bold;
  }

  span{
    margin-left: 0.2rem;
    font-weight: normal;
    text-decoration: line-through $red;
  }

  .action{
    display: flex;
    justify-content: space-around;
    //color: $red;
    font-size: 1.5rem;
  }
}







// MEDIA QUERIES

// special screen size to fix navbar responsiveness
@media (max-width: 1345px) {

  .navbar{

    #logo {
      width: 130px;
      height: auto;
      margin-left: 1rem;
    }

    .navbar-nav {
      margin-left: 12rem;
      margin-top: 1rem;
    }

    #nav-icons {
      margin-left: 8rem;
      margin-right: -2rem;
      margin-top: 1rem;
      font-size: 1.2rem;
    }

    #search-nav{
      font-size: 0.8rem;
    }
  }
}

//large screens
@media (max-width: 1150px) {
  body{
    font-size: 0.85rem;
  }

  .navbar{

    #logo {
      width: 130px;
      height: auto;
      margin-left: 1rem;
    }

    .navbar-nav {
      margin-left: 10rem;
      margin-top: 1rem;
    }

    #nav-icons {
      margin-left: 4rem;
      margin-right: -2rem;
      margin-top: 1rem;
      font-size: 1.2rem;
    }

    #search-nav{
      font-size: 0.6rem;
    }
  }
}



// medium
@media (max-width: 991px) {
  body{
    font-size: 0.85rem;
  }

  .navbar{

    #logo {
      width: 125px;
      height: auto;
      margin-left: 2rem;
    }

    .navbar-nav {
      text-transform: initial;
      margin-left: 0;
      margin-top: 0;
    }

    .nav-link:hover {
      border-bottom: none;
    }

    .active {
      border-bottom: none;
    }

    #nav-icons {
      margin-left: 0;
      margin-right: 0;
      margin-top: 1rem;
      font-size: 1.2rem;
    }

    #search-nav{
      font-size: 0.80rem;
    }

  }

  #tiles{
    .card-footer{
      text-transform: initial;
    }
  }
}


// xs and sm
@media (max-width: 576px) {
  body{
    font-size: 0.70rem;
  }



  .navbar{

    .dropdown-menu{
      font-size: 0.70rem;
    }

    #search-nav{
      font-size: 0.70rem;
    }
  }

  #tiles{
    margin-top: 4rem;

    .image-tile{
      height: 5rem;
    }

    .card-footer{
      font-size: 0.5rem;
      font-weight: 800;
      text-transform: initial;
    }
  }

}


