@import "variables";
@import "mixins";

// MEDIA QUERIES
// special screen size to fix navbar responsiveness
@media (max-width: 1345px) {

  .navbar {

    #logo {
      width: 130px;
      height: auto;
      margin-left: 1rem;
    }

    .navbar-nav {
      margin-left: 12rem;
      margin-top: 1rem;
    }

    #nav-icons {
      margin-left: 8rem;
      margin-right: -2rem;
      margin-top: 1rem;
      font-size: 1.2rem;
    }

    #search-nav {
      font-size: 0.8rem;
    }
  }
}

//large screens
@media (max-width: 1150px) {
  body {
    font-size: 0.85rem;
  }

  .navbar {

    #logo {
      width: 130px;
      height: auto;
      margin-left: 1rem;
    }

    .navbar-nav {
      margin-left: 10rem;
      margin-top: 1rem;
    }

    #nav-icons {
      margin-left: 4rem;
      margin-right: -2rem;
      margin-top: 1rem;
      font-size: 1.2rem;
    }

    #search-nav {
      font-size: 0.6rem;
    }
  }

  .featured {
    .card-title {
      font-size: 0.7rem;
    }

    .card-text {
      font-size: 0.7rem;
    }

    .card-img-top{
      height: 10rem;
    }

    span{
      font-size: 0.6rem;
    }
  }
}

// medium
@media (max-width: 991.98px) {
  body{
    font-size: 0.85rem;
  }

  .navbar {

    #logo {
      width: 125px;
      height: auto;
      margin-left: 2rem;
    }

    .navbar-nav {
      text-transform: initial;
      margin-left: 0;
      margin-top: 0;
    }

    .nav-link:hover {
      border-bottom: none;
    }

    .active {
      border-bottom: none;
    }

    #nav-icons {
      margin-left: 0;
      margin-right: 0;
      margin-top: 1rem;
      font-size: 1.2rem;
    }

    #search-nav {
      font-size: 0.80rem;
    }

  }

  #favs{
    .prod-title{
      font-size: 0.8rem;
    }

    .img-thumbnail{
      height: 7rem;
      width: 7rem;
    }

    .price{
      font-weight: 600;
    }

    span{
      font-size: 0.6rem;
    }

    .form-select{
      font-size: 0.7rem;
    }

    .remove{
      font-size: 0.7rem;
    }

    .favs-footer{
      font-size: 0.8rem;
    }
  }

  #cart{
    .prod-title{
      font-size: 0.8rem;
    }

    .img-thumbnail{
      height: 7rem;
      width: 7rem;
    }

    .price{
      font-weight: 600;
    }

    span{
      font-size: 0.6rem;
    }
    .form-select{
      font-size: 0.7rem;
    }

    .remove{
      font-size: 0.7rem;
    }

    .total{
      font-size: 1.2rem;
    }

    #checkout{
      font-size: 0.9rem;
    }
  }

  .featured {

    .card{
      margin-bottom: 2rem;
    }

    .card-title {
      font-size: 0.7rem;
    }

    .card-text {
      font-size: 0.7rem;
    }

    .card-img-top{
      height: 12rem;
    }

    span{
      font-size: 0.6rem;
    }

  }

  #footer{

    .footer1{

      .info-heading{
        font-size: 1rem;
      }

      .info-list{
        font-size: 0.8rem;
      }

      #reach{
        font-size: 1rem;
      }

      .phone{
        font-size: 0.7rem;
      }


      .fab{
        padding: 0.6rem;
        font-size: 1.5rem;
        width: 3rem;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;

      }

      .reg{
        width: 6rem;
        margin-top: 1.5rem;
      }

    }

    .footer2{
      font-size: 0.65rem;
    }

  }
}


// small
@media (max-width: 767.98px) {
  body {
    font-size: 0.75rem;

  //   Back to top
    .to-top {
      bottom: 16px;
      right:13px;
      width:37px;
      height:37px;
      font-size:29px;
    }

    .to-top.active {
      bottom:30px;
    }
  }

  #favs{

    .modal-title{
      font-size: 0.7rem;
    }

    .prod-title{
      font-size: 0.5rem;
    }

    .img-thumbnail{
      height: 5rem;
      width: 5rem;
    }

    .price{
      font-size: 0.6rem;
      font-weight: 600;
    }

    span{
      font-size: 0.45rem;
    }

    .remove{
      font-size: 0.5rem;
    }

    .favs-footer{
      font-size: 0.6rem;
    }
  }

  #cart{

    .modal-title{
      font-size: 0.7rem;
    }

    .prod-title{
      font-size: 0.5rem;
    }

    .img-thumbnail{
      height: 5rem;
      width: 5rem;
    }

    .price{
      font-size: 0.6rem;
      font-weight: 600;
    }

    span{
      font-size: 0.45rem;
    }
    .form-select{
      font-size: 0.5rem;
    }

    .remove{
      font-size: 0.5rem;
    }

    .total{
      font-size: 0.9rem;
    }

    #checkout{
      font-size: 0.6rem;
    }
  }

  #tiles {
    .card-footer {
      text-transform: initial;
    }
  }

  #why{
    margin-top: 1rem;

    .why-title {
      margin-bottom: -1rem;
      font-size: 0.7rem;
      font-weight: 600;
    }
    .row{
      font-weight: 600;
    }

    i{
      font-size: 2.5rem;
    }

    p{
      font-size: 0.65rem;
    }

  }

  .featured{
    .card-img-top{
      height: 6rem;
    }
  }

  #footer{

    .footer1{

      .info-heading{
        font-size: 0.8rem;
        margin-left: 0;
        text-align: center;
      }

      .info-list{
        font-size: 0.6rem;
      }

      li{
        display: inline-block;
        width: 49%;
      }

      p{
        margin-bottom: 0.3rem;
      }

      #reach{
        font-size: 0.8rem;
      }

      .phone{
        font-size: 0.7rem;
      }


      .fab{
        padding: 0.6rem;
        font-size: 1.5rem;
        width: 3rem;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;

      }

      .reg{
        width: 6rem;
        margin-top: 0.3rem;
        font-size: 0.8rem;
      }

    }

    .footer2{
      font-size: 0.45rem;
    }

  }
}


// xs
@media (max-width: 575.98px) {
  body {
    font-size: 0.7rem;
  }

  .navbar {

    .dropdown-menu {
      font-size: 0.70rem;
    }

    #search-nav {
      font-size: 0.70rem;
    }
  }

  #tiles {
    margin-top: 4rem;

    .image-tile {
      height: 5rem;
    }

    .card-footer {
      font-size: 0.5rem;
      font-weight: 800;
      text-transform: initial;
    }
  }

  .featured {

    .section-title {
      margin-bottom: 1rem;
      Font-size: 0.9rem;
      text-transform: initial;
    }

    .section-title:after {
      height: 2px;
      width: 50px;
    }

    .see-all {
      font-size: 0.4rem;
      text-transform: initial;
    }

    .card{
      margin-bottom: 1rem;
    }

    .card-title {
      font-size: 0.4rem;
      margin-bottom: 0.2rem;
    }

    .card-text {
      font-size: 0.4rem;
    }

    span{
      font-size: 0.3rem;
    }

    .action{
      margin-top: 0.2rem;
      font-size: 0.6rem;
    }

  }
}
